<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page List</title>
</head>

<body>

    <a href="{% url 'blog:edit_page' '0' %}"><h2>新文章</h2></a> 
    <!-- <h2>This is Blog</h2>
    <h2>{{hello}}</h2> -->
    <!-- <h1>{{article.title}}</h1>
    <p>{{article.content}}</p> -->

    {% for article in articles %}
    <a href="{% url 'blog:article_page' article.id %}">{{article.title}}</a>
    <br>
    {% endfor %}


</body>

</html>